<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <form action="/login" method="post">
      <div class="imgcontainer">
        <img
          src="/images/avatar-png-1-transparent.png"
          alt="Avatar"
          class="avatar"
        />
      </div>

      <div class="container">
        <label for="username"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required
        />

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
